body, html {
    font-family: Roboto, sans-serif;
    height: 100%;
    display: grid;
}

body {
    background: linear-gradient(315deg, hsla(1, 52%, 41%, 1) 0%, hsla(303, 92%, 15%, 1) 100%);
}

.container {
    margin: auto;
    width: 60%;
    display: grid;
    grid-gap: 10px;
    background-color: #F2F7F2;
    grid-template-areas:
    "header"
    "rock"
    "paper"
    "scissors"
    "results";
}

header {
    color: #FFF;
    background-color: #4A0347;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: header;
}

header > h1 {
    font-size: 5em;
}

.container > div {
    display: grid;
    justify-items: center;
    align-items: center;
}

.container > div > h2 {
    font-size: 2em;
}

#rock {
    background-color: #4B8F8C;
    color: #FFF;
    grid-area: rock;
}

#rock:hover {
    background-color: #54A09D;
}

#paper {
    background-color: #C5979D;
    grid-area: paper;
}

#paper:hover {
    background-color: #CCA4A9;
}

#scissors {
    background-color: #931F1D;
    color: #FFF;
    grid-area: scissors;
}

#scissors:hover {
    background-color: #AA2422;
}

#results {
    background-color: #F2F7F2;
    grid-area: results;
    justify-self: left;
    padding-left: 5px;
    padding-right: 5px;
    justify-items: stretch;
}

@media (min-width: 600px) {
    .container {
        grid-template-areas:
        "header header header"
        "rock paper scissors"
        "results results results";
    }

}